{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}">
{% endblock %}

{% block header-title %}検索結果{% endblock %}
{% block header-right %}
<form action="{% url 'find' %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="検索">
</form>
{% endblock %}
{% block content %}
<div class="friends">
    <ul class="friend-list">
        {% for friend in friends %}
        <li class="friend-list__item">
            <a class="friend-list__link" href="{% url 'talk_room' friend.id %}">
                <img class="friend-list__usericon" src="{{ friend.icon.url }}">
                <div class="friend-list__username">{{ friend.username }}</div>
                {% if friend.latest_msg_talk %}
                <div class="friend-list__talk">
                    <p class="friend-list__content">{{ friend.latest_msg_talk|truncatechars:14 }}</p>
                    <p class="friend-list__time">{{ friend.latest_msg_time|date:"n/j H:i" }}</p>
                </div>
                {% endif %}
            </a>
        </li>
        
        {% endfor %}
    </ul>
</div>
{% endblock %}